{% extends 'partials/_master.twig' %}

{% block main %}


<section class="bg-gray-100 text-gray mt-16">
    <div class="container mx-auto">
        {% if newsitem.photo is not empty %}
            <div class="w-20">
                <img class="object-contain" src="{{ newsitem.image }}">
            </div>
        {% endif %}

        {{ newsitem.text }}

        <p class="meta"><a href="{{ newsitem|link }}">
                Link</a> -
            Posted by {{ newsitem.author.displayname }}
            on {{ newsitem.createdAt|date("M d, ’y")}}
        </p>
    </div>
</section>

{% endblock %}
